.selected-book-section {
    height: 100vh;
    margin-top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid blue 3px;
    /* background: white; */
}

.selected-book-info {
    color: white;

}