.book {
    height: 200px;
    width: 40px;
    float: left;
    color: white;
    font-size: 0.9em;
    font-family: Verdana, sans-serif;
    margin: 15px 3px 10px;
    transition: transform 0.5s ease;
    border: 1rem groove;
}


.book:hover {
    transform: scale(1.25);
}


.book h2 {
    padding: 0;
    font-size: 1em;
    transform-origin: 0% 0%;
    transform: rotate(0.25turn) translateY(-35px);
    width: 170px;
}